POSTGRES_DB=ziffer_billing
POSTGRES_USER=ziffer
POSTGRES_PASSWORD=replace-with-long-random-postgres-password

TEAMWORK_SITE_NAME=zifferlu.eu
TEAMWORK_AUTH_MODE=basic
TEAMWORK_API_KEY=replace-with-teamwork-api-key
TEAMWORK_MAX_PAGES=350

DEFAULT_START_DATE=2026-01-01
DEFAULT_TIMEZONE=Europe/Amsterdam
DEFAULT_CURRENCY=EUR

SESSION_SECRET=replace-with-at-least-32-random-characters
XERO_TOKEN_ENCRYPTION_KEY=replace-with-at-least-32-random-characters
COOKIE_SECURE=true

XERO_CLIENT_ID=replace-with-xero-client-id
XERO_CLIENT_SECRET=replace-with-xero-client-secret
XERO_REDIRECT_URI=https://app.ziffer.lu/api/xero/callback
XERO_RETURN_URL=https://app.ziffer.lu/#billing-create-quote
XERO_SCOPES=offline_access accounting.invoices accounting.contacts.read accounting.settings.read
XERO_REFERENCE_SYNC_TTL_MS=21600000
XERO_STATUS_POLL_INTERVAL_MS=3600000
XERO_TENANT_ID=
